:root {
  --main-font: 'Inter', sans-serif;

  --white: #FFF;
  --black: #000;
  --primary: #7A5CFA;
  --primary-hover: #5F3EE7;
  --red: #EB5757;
  --gray-1: #EEF2F4;
  --gray-2: #86969C;
  --gray-3: #B8C6CF;

}
