@import './imports';

* {
  box-sizing: border-box;
  scroll-behavior: smooth;
  margin: 0;
  padding: 0;
}

body {
  font-family: var(--main-font);
  font-size: 16px;
  cursor: var(--cursor-default), auto;

  &.dragging * {
    cursor: var(--cursor-dragging), auto;
  }

}

h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote {
  margin: 0;
}

img {
  width: 100%;
  max-height: 100%;
}

a {
  text-decoration: none;
  color: inherit;
}

button {
  background-color: transparent;
  color: inherit;
  border: none;
  padding: 0;
  font-family: inherit;
  cursor: var(--cursor-pointer), auto;
}

ul,
li {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

#app {
  height: 100dvh;
  padding: 30px;
}
